*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --fontcolor : #BBBBBB;
    --bgcolor : #03506F;
}

.logins{
    background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url("../src/images/signup_banner.jpg");
    height: 400px;
    width: 100%;
}
h1{
    text-align: center;
}
.login-form{
    /* background-color: aqua; */
    height: 50px;
    width: 80%;
    margin-top: 40px;
    text-align: center;
}
input{
    padding-left: 10px;
    margin-left: 20px;
}
#send{
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 35%;
    background-color: var(--fontcolor) ;
    border: none;
    border-radius: 20px;
}