
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

:root{
    --fontcolor : #BBBBBB;
    --bgcolor : #03506F;
}

.sign{
    background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url("../src/images/signup_banner.jpg");
    height: 500px;
    margin-top: 0px;
    position: relative;
}

form{
    height: 480px;
    width: 50%;
    /* background-color: aqua; */
    font-size: 24px;
    padding-top: 60px;
    color: var(--fontcolor);
    position: absolute;
    transform: translate(-50px -50px);
    left: 25%;
}

input{
    height: 28px;
    width: 250px;
    padding-left:10px ;
    background-color: transparent;
    border: 2px solid grey;
}

#submit{
    padding: 10px 40px;
    margin-left: 40%;
    margin-top: 50px;
    background-color: var(--bgcolor);
    color: var(--fontcolor);
    border: none;
    font-size: 20px;
    border-radius: 20px;
}
